In [1]:
import pandas as pd
import numpy as np

In [150]:
np.random.seed(101)

In [46]:
df = pd.DataFrame(np.random.randn(5,4),index='A B C D E'.split(), columns='W X Y Z'.split())

In [152]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [57]:
df[['W','Z']]

          W         Z
A  0.649148  0.902398
B  0.161781 -0.388239
C  0.783316 -1.621348
D  0.677535  0.333973
E -0.532471  2.302987

In [61]:
df['novaColuna'] = df['W']+df['Z']

In [63]:
df

          W         X         Y         Z  novaColuna
A  0.729024 -0.863091  0.305632  0.243178    0.972201
B  0.864165 -1.560931 -0.251897 -0.578120    0.286045
C  0.236996  0.200780  0.327845  0.674485    0.911481
D -0.174057  0.780140 -0.383258 -0.409318   -0.583375
E  0.343539  0.196275 -0.982776  2.231555    2.575094

In [68]:
df.drop('novaColuna', axis = 1 ,inplace = True)

In [6]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [80]:
df.loc['A']['W']

0.7290237321354455

In [130]:
#fatiando dataFrame com loc

df.loc[['A','C'],['X','Y']]

          X         Y
A  0.628133  0.907969
C  0.740122  0.528813

In [153]:
#fatiando dataFrame com iloc
df.iloc[2,1:3]

X    0.740122
Y    0.528813
Name: C, dtype: float64

In [49]:
df

          W         X         Y         Z
A  0.715740 -0.249160  0.466030 -0.202867
B  1.611961 -0.370872  0.028459 -0.021593
C  1.972439 -0.681398 -0.095188 -0.052019
D -0.557736  1.008980 -0.735623 -1.846181
E  0.621781  0.369868  1.225440 -0.696092

In [48]:
df.filter(items=['A'],axis=0)

         W        X        Y         Z
A  0.71574 -0.24916  0.46603 -0.202867