In [1]:
import pandas as pd
import numpy as np

In [10]:
np.random.seed(101)

In [58]:
df = pd.DataFrame(np.random.randn(5,4),index='A B C D E'.split(), columns='W X Y Z'.split())

In [79]:
df

          W         X         Y         Z
A  0.729024 -0.863091  0.305632  0.243178
B  0.864165 -1.560931 -0.251897 -0.578120
C  0.236996  0.200780  0.327845  0.674485
D -0.174057  0.780140 -0.383258 -0.409318
E  0.343539  0.196275 -0.982776  2.231555

In [57]:
df[['W','Z']]

          W         Z
A  0.649148  0.902398
B  0.161781 -0.388239
C  0.783316 -1.621348
D  0.677535  0.333973
E -0.532471  2.302987

In [61]:
df['novaColuna'] = df['W']+df['Z']

In [63]:
df

          W         X         Y         Z  novaColuna
A  0.729024 -0.863091  0.305632  0.243178    0.972201
B  0.864165 -1.560931 -0.251897 -0.578120    0.286045
C  0.236996  0.200780  0.327845  0.674485    0.911481
D -0.174057  0.780140 -0.383258 -0.409318   -0.583375
E  0.343539  0.196275 -0.982776  2.231555    2.575094

In [68]:
df.drop('novaColuna', axis = 1 ,inplace = True)

In [70]:
df

          W         X         Y         Z
A  0.729024 -0.863091  0.305632  0.243178
B  0.864165 -1.560931 -0.251897 -0.578120
C  0.236996  0.200780  0.327845  0.674485
D -0.174057  0.780140 -0.383258 -0.409318
E  0.343539  0.196275 -0.982776  2.231555

In [80]:
df.loc['A']['W']

0.7290237321354455

In [83]:
#fatiando dataFrame com loc

df.loc[['A','C'],['X','Y']]

          X         Y
A -0.863091  0.305632
C  0.200780  0.327845

In [109]:
#fatiando dataFrame com iloc
df.iloc[2,1:3]

X    0.200780
Y    0.327845
Name: C, dtype: float64