In [6]:
import numpy as np
import pandas as pd

In [7]:
# niveis de indice
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [8]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           codes=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [9]:
df = pd.DataFrame(np.random.randn(6,2),index = hier_index,columns='A B'.split())
df

             A         B
G1 1  0.340384  1.030447
   2 -0.588918  0.750639
   3 -2.511323 -0.556654
G2 1  0.591939  0.588048
   2  1.198309 -1.474098
   3 -1.540965 -1.366342

In [10]:
df.loc['G1'].loc[1][0]

0.34038443978027194

In [11]:
df.index.names = ['Grupo','numero']
df

                     A         B
Grupo numero
G1    1       0.340384  1.030447
      2      -0.588918  0.750639
      3      -2.511323 -0.556654
G2    1       0.591939  0.588048
      2       1.198309 -1.474098
      3      -1.540965 -1.366342

In [14]:
df.xs(2,level='numero')

              A         B
Grupo
G1    -0.588918  0.750639
G2     1.198309 -1.474098